
 body {
  background: #f6e8d5;
  
}

.saintValentin {
  position: relative;
  width: 300px;
  height: 450px;
  margin: 40px auto;
}

.saintValentin img {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 500px;
  height: auto;

  transform: translateX(-50%) scaleY(0);
  transform-origin: bottom;

  animation: grow 2.5s ease forwards;
}

@keyframes grow {
  to {
    transform: translateX(-50%) scaleY(1);
  }
}
.saintValentin img:nth-child(1) {
  z-index: 1;
}

.saintValentin img:nth-child(2) {
  position: absolute;
  bottom: 0px;
  left: 124%;

  transform: translateX(-50%) scale(0.5);
  opacity: 0;
  z-index: 2;

  animation: bloom 1.5s ease forwards;
  animation-delay: 2s;
}

@keyframes bloom {
  to {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}
h1{
    text-align: center;
}
.texte-rideau {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.texte-rideau::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; 
  transform: translateY(0); 
  animation: lever-rideau 2s forwards ease-out;
}


@keyframes lever-rideau {
  to {
    transform: translateY(-100%);
  }
}
